body{
font-family: 'Roboto Condensed', Arial, Helvetica, Helvetica Neue, sans-serif;
background-color: #222;
}
.bodyLeft {
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}
.navWrap {
font-family: 'Roboto Condensed', Arial, Helvetica, Helvetica Neue, sans-serif;
}
.navwrap ul {
padding: 10px;
}
.wrapper {
width: 60%;
max-width: 700px;
margin: 70px auto;

}
.header {

text-align: center;
margin-bottom: 0;
text-transform: uppercase;
letter-spacing: 4px;
font-weight: 600;
color: #FFF;
font-size: 20px;
width: 100%;
float: right;
padding: 25px 0px 22px 0px;
}
.header small {
font-size: 80%;
color: #89b943;
}
.blurb {
color: #bbb;
text-align: justify;
}

.blurb strong {
color: #89b943;
font-weight: normal;
}
.blurb p:first-of-type:first-letter {
color: #89b943;
float: left;
font-size: 2.65em;
line-height: 1em;

padding-right: 3px;
padding-left: 3px;
}

.info .face {
text-align: center;
}
.info div {
padding-top: 2em;
}

img {
width: 80%;
}
ul.contacts {
margin-top:1em;
}
a,a:visited {
  color:#bbb;
  text-decoration: none;
}
a:hover {
  color:#fff;
  text-decoration: none;
  }
/* fix dash marks for chrome mobile */
.trigger {
background-color: #fff;
}
.trigger {
background: none;
}
.trigger:before {
  content: "";
  position: absolute;
  left: .5em;
  top:.5em;
  width: 1em;
  height: 0.075em;
  background: white;
  box-shadow:
    0 0.25em 0 0 white,
    0 0.5em 0 0 white;
}

